USE [master]
GO
/****** Object:  Database [RecipeManagementDB]    Script Date: 2026/6/3 21:19:56 ******/
CREATE DATABASE [RecipeManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RecipeManagementDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\RecipeManagementDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RecipeManagementDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\RecipeManagementDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RecipeManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RecipeManagementDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2026/6/3 21:19:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 2026/6/3 21:19:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingredients]    Script Date: 2026/6/3 21:19:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Quantity] [decimal](18, 2) NOT NULL,
	[UnitOfMeasure] [nvarchar](max) NOT NULL,
	[RecipeId] [int] NOT NULL,
 CONSTRAINT [PK_Ingredients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recipes]    Script Date: 2026/6/3 21:19:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Instructions] [nvarchar](max) NOT NULL,
	[PrepTimeMinutes] [int] NOT NULL,
	[CookTimeMinutes] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_Recipes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260531053817_InitialCleanSetup', N'10.0.8')
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name]) VALUES (1, N'Italian')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (2, N'Malaysian')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (3, N'Japanese')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Ingredients] ON 

INSERT [dbo].[Ingredients] ([Id], [Name], [Quantity], [UnitOfMeasure], [RecipeId]) VALUES (503, N'Coconut Milk', CAST(200.00 AS Decimal(18, 2)), N'ml', 102)
INSERT [dbo].[Ingredients] ([Id], [Name], [Quantity], [UnitOfMeasure], [RecipeId]) VALUES (504, N'Sambal Paste', CAST(3.00 AS Decimal(18, 2)), N'tbsp', 102)
INSERT [dbo].[Ingredients] ([Id], [Name], [Quantity], [UnitOfMeasure], [RecipeId]) VALUES (505, N'Chicken Thigh', CAST(300.00 AS Decimal(18, 2)), N'grams', 103)
SET IDENTITY_INSERT [dbo].[Ingredients] OFF
GO
SET IDENTITY_INSERT [dbo].[Recipes] ON 

INSERT [dbo].[Recipes] ([Id], [Title], [Description], [Instructions], [PrepTimeMinutes], [CookTimeMinutes], [CategoryId], [ImageUrl]) VALUES (101, N'Spaghetti Carbonara', N'Creamy Italian pasta with bacon.', N'1. Boil pasta.
2. Fry bacon.
3. Mix eggs and cheese.
4. Combine all.', 10, 15, 1, N'/images/608e2f42-b2c5-4d89-a34f-847f03d6da3d_OIP (1).webp')
INSERT [dbo].[Recipes] ([Id], [Title], [Description], [Instructions], [PrepTimeMinutes], [CookTimeMinutes], [CategoryId], [ImageUrl]) VALUES (102, N'Nasi Lemak', N'Fragrant coconut rice with sambal.', N'1. Cook rice with coconut milk.
2. Fry anchovies and peanuts.
3. Boil eggs.
4. Serve with sambal.', 15, 30, 2, NULL)
INSERT [dbo].[Recipes] ([Id], [Title], [Description], [Instructions], [PrepTimeMinutes], [CookTimeMinutes], [CategoryId], [ImageUrl]) VALUES (103, N'Chicken Teriyaki', N'Sweet and savory glazed chicken.', N'1. Pan-fry chicken.
2. Add teriyaki sauce.
3. Simmer until thick.', 10, 20, 3, NULL)
SET IDENTITY_INSERT [dbo].[Recipes] OFF
GO
/****** Object:  Index [IX_Ingredients_RecipeId]    Script Date: 2026/6/3 21:19:57 ******/
CREATE NONCLUSTERED INDEX [IX_Ingredients_RecipeId] ON [dbo].[Ingredients]
(
	[RecipeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Recipes_CategoryId]    Script Date: 2026/6/3 21:19:57 ******/
CREATE NONCLUSTERED INDEX [IX_Recipes_CategoryId] ON [dbo].[Recipes]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ingredients]  WITH CHECK ADD  CONSTRAINT [FK_Ingredients_Recipes_RecipeId] FOREIGN KEY([RecipeId])
REFERENCES [dbo].[Recipes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ingredients] CHECK CONSTRAINT [FK_Ingredients_Recipes_RecipeId]
GO
ALTER TABLE [dbo].[Recipes]  WITH CHECK ADD  CONSTRAINT [FK_Recipes_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Recipes] CHECK CONSTRAINT [FK_Recipes_Categories_CategoryId]
GO
USE [master]
GO
